.App {
  color: #fff;
  display: grid;
  grid-template-columns: minmax(3rem, 5rem) minmax(2rem, 1fr) repeat(6, minmax(6rem, 10rem)) minmax(2rem, 1fr);
}
.head {
  padding: 1rem;
  background-color: rgb(3, 3, 37);
}
.features {
  padding: 1rem;
  background-color: rgb(13, 88, 6);
}
.story {
  padding: 1rem;
  background-color: rgb(131, 37, 8);
}
.cards {
  padding: 1rem;
  background-color: rgb(116, 9, 107);
}
.gallery {
  padding: 1rem;
  background-color: rgb(238, 215, 12);
}
.footer {
  padding: 1rem;
  background-color: rgb(0, 0, 0);
}