.App {
  color: #fff;
  display: grid;
  grid-template-columns: minmax(3rem, 5rem) minmax(2rem, 1fr) repeat(6, minmax(6rem, 10rem)) minmax(2rem, 1fr);
}
.head {
  grid-column: 2/-1;
  height: 80vh;
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) repeat(6, minmax(6rem, 10rem)) minmax(2rem, 1fr);
}
.head .main {
  background-image: linear-gradient(to right, rgba(2, 5, 32, 0.774), rgba(1, 2, 39, 0.562)), url(./components/img/hero.jpeg);
  grid-column: 1 / 7;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}
.head .main .logo {
  width: 10rem;
  align-self: center;
  margin-bottom: 5rem;
}
.head .main .heading p {
  margin-bottom: -1rem;
  font-size: 1.1rem;
  color: rgb(216, 162, 81);
  font-weight: 500;
}
.head .main .heading h1 {
  font-weight: 400;
  font-size: 3rem;
}
.head .main button {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  color: #fff;
  border: none;
  background-color: rgb(216, 162, 81);
}
.head .realtor {
  grid-column: 7 / -1;
  grid-row: 1/2;
  background-color: rgb(1, 2, 39);
}
.side-bar {
  padding: 1rem;
  background-color: rgb(216, 162, 81);
  grid-column: 1/2;
  grid-row: 1/ 9;
  position: fixed;
  width: 3rem;
  height: 100vh;
}
.features {
  grid-column: 3/9;
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 18rem));
  justify-content: center;
  grid-gap: 2rem;
}
.feature h2 {
  color: rgb(85, 84, 84);
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.feature p {
  color: rgb(85, 84, 84);
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.story {
  grid-column: 2/-1;
  display: flex;
}
.story .left {
  width: 60%;
  background-image: url(./components/img/back.jpg);
  background-size: cover;
  background-position: center;
}
.story .right {
  width: 40%;
  background-color: rgb(248, 246, 239);
  padding: 5rem;
}
.story .right h1 {
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 600;
  color: rgb(59, 59, 59);
}
.story .right p {
  font-size: 1rem;
  color: rgb(216, 162, 81);
  margin-bottom: -1rem;
}
.story .right .story {
  font-size: 1rem;
  color: rgb(41, 40, 39);
  font-style: italic;
  margin-bottom: 3rem;
  line-height: 1.5rem;
}
.story .right button {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  color: #fff;
  border: none;
  background-color: rgb(216, 162, 81);
}
.cards {
  padding: 1rem;
  grid-column: 3/9;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 18rem));
  justify-content: center;
  grid-gap: 2rem;
}
.card {
  color: rgb(78, 77, 77);
  text-align: center;
  background-color: rgb(235, 230, 230);
}
.cards img {
  width: 100%;
}
.cards h3 {
  font-size: 1rem;
  background-color: rgb(5, 2, 46);
  color: #fff;
  padding: 1rem;
  margin: 0 1rem;
  margin-top: -2rem;
  z-index: 100;
  position: relative;
}
.cards .details {
  padding: 2rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2,1fr);
}
.cards button {
  font-size: 1rem;
  background-color: rgb(216, 162, 81);
  padding: 1rem 2rem;
  color: #fff;
  width: 100%;
}
.gallery {
  padding: 1rem;
  background-color: rgb(238, 215, 12);
  grid-column: 2/-1;
}
.footer {
  padding: 1rem;
  background-color: rgb(0, 0, 0);
  grid-column: 2/-1;
}